<!DOCTYPE html>
<html>
    <head>
        <title>UGAP - {{ projectname }}</title>

        <!-- TODO A déplacer dans l'entête HTTP via config Apache -->
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    </head>

    <body>
	  Hello  {{ projectname }} !!!!!
    </body>
</html>
